			#contenu{	margin:0 auto;
					width:900px;
				}
			#header{height:200px;
					background-color:#cbe1ef;
				}
			ul {
				    list-style-type: none;
				    margin: 0;
				    padding: 0;
				    overflow: hidden;
				    background-color: #d46ec7;
				}
				
			li {
				    float: right;
				}
				
			li a {
				    display: block;
				    color: white;
				    text-align: center;
				    padding: 16px;
				    text-decoration: none;
				}
				
			li a:hover {
				    background-color: #111111;
				}
			#lbody{	height:300px;
					width:200px;
					background-color:#c8c8f2;
					float:left;
				}
			#mbody{	width:500px;
					height:300px;
					background-color:#f9bffb;
					float:left;
				}
			#rbody{width:200px;
				height:300px;
				background-color:#eef2c8;
				float:left;
				}
			#footer{height:200px;
				background-color:#f2c8e2;
				}
			#body{
				overflow:auto;
			}