<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ExJSP</display-name>
  
  <context-param>
    <description>Chemin vers le fichier CSS principal</description>
    <param-name>mainCSS</param-name>
    <param-value>/resources/css/styles.css</param-value>
  </context-param>
  <context-param>
    <description>Chemin vers le fichier JS principal</description>
    <param-name>mainJS</param-name>
    <param-value>/resources/js/app.js</param-value>
  </context-param>
  
<!--   JSP -->
  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/WEB-INF/jsp/home.jsp</jsp-file>
  </servlet>
  
  
<!--   SERVLETS -->
  <servlet>
    <servlet-name>Processing</servlet-name>
    <servlet-class>fr.dwaps.servlets.Processing</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Processing</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  
<!--   ERRORS -->
    <error-page>
         <error-code>404</error-code>
         <location>/WEB-INF/errors/error404.jsp</location>
    </error-page>
    <error-page>
         <exception-type>java.lang.NumberFormatException</exception-type>
         <location>/WEB-INF/errors/NumberFormatException.jsp</location>
    </error-page>
  
</web-app>